mixin dataset(id, name, taggedCount, count)
    div(class=(taggedCount == count) ? 'dataset-done' : 'dataset panel-btn' attr-id= id)
        div.dataset-info
            h2.dataset-title= name
                br
                span.dataset-count
                    = taggedCount
                    | &nbsp;/&nbsp;
                    = count