body
  background-image url("../images/bg.png")
  background-size cover
  background-attachment fixed

#logo
  margin-top 80px

main
  text-align center

#login-form
  margin 0 auto
  margin-top 80px
  background-image url("../images/login-bg.png")
  background-size cover
  background-repeat no-repeat
  width 750px
  height 345px
  padding 100px
  padding-top 80px
  vertical-align bottom
//text-align center

  label
    font-family 'Montserrat', 'sans-serif'
    font-size 1.8em
    color #1b8129

  div.row
    margin-bottom 15px

.green-button
  background-image url("../images/button-bg.png")
  background-size cover
  background-repeat no-repeat
  border none
  padding 10px
  padding-left 70px
  padding-right 70px
  font-size 1.4em
  color white
  font-family 'Montserrat', 'sans-serif'
  cursor pointer

.green-problem-button
  background-image  url("../images/button-problem-bg.png")
  padding-left 40px
  padding-right 40px
  font-size 1em


.register-text
  font-family 'Montserrat', 'sans-serif'

a
  color #1b8129 !important
  font-weight bold
  cursor pointer

#register-form
  @extend #login-form
  padding-top 60px

  label
    font-size 1em
    text-align right

.error
  display none
  margin-top 20px
  background-color indianred
  color white
  padding 5px

.confirm
  //font-family 'Montserrat', 'sans-serif'
  margin-top 80px
  color white
  font-size 3.4em
  opacity 0.8